<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>最新消息</title>
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="wrap">
        <div id="header">
            {% block login %}{% endblock %}
            <div class="logo">
                <img src="{% static "images/DWonline.png" %}" alt="dreamweaver.com.tw" width="180" height="40"/>
            </div>
        </div>
        <div class="headings">
            <h2>新聞系統</h2>
        </div>
        {% block content %}{% endblock %}
        <div id="footer">&copy; Copyright 2021 xxxStudio</div>
    </div>
</body>
</html>